* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  border: 2px solid #000;
  background-color: #fca326;
  height: 150px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header img{
  width: 64px;
  animation-name: animated-logo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#header h1 {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header ul{
  display: flex;
}

#header ul a{
  text-decoration: none;
}

#header ul li{
  list-style: none;
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

#header ul li:hover {
  color: aqua;
  transform: rotate(-10deg) scale(1.5);
}

#main {
  border: 2px solid #000;
  background-color: #26fcbf;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main img{
  width: 40%;
  box-shadow: 2px 2px 10px #000;
  transition: all 0.5s ease;
}

#main img:hover {
  width: 50%;
}

#main p {
  width: 40%;
}

#footer {
  border: 2px solid #000;
  background-color: #af2dff;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .redes{
  display: flex;
}

#footer .redes a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#footer .redes a img {
  width: 1.5em;
  margin: 5px;
}

@keyframes animated-logo {
  from {
    transform: translateX(0);
    /* opacity: 1; */
  }
  to {
    transform: translateX(300px);
    /* opacity: 0; */
  }
}